.logo {
    float: left;
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 20px #9ebad8, 0 0 30px #3e80d0;
    padding: 14px 16px;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 10px;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(8px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    padding: 0 20px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.dropdown {
    float: left;
    position: relative;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(114, 181, 248);
    border-radius: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;

    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    border-radius: 15px;
    backdrop-filter: blur(10px);

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.25);

    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
}


.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    top: 100%;

}

.dropdown-content a:hover {
    background-color: rgb(114, 181, 248);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar a:hover {
    color: #ffffff;
    text-shadow: 0 0 10px #ffffff;
}

.notes-card {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    border-radius: 20px;
    -webkit-backdrop-filter: blur(12px);

    padding: 25px;
    margin: 30px auto;
    max-width: 800px;

     border: 1px solid rgba(255, 255, 255, 0.3);

    /* GLOW */
    box-shadow:
        0 0 20px rgba(255, 255, 255, 0.25),
        0 0 40px rgba(100, 200, 255, 0.25);

    transition: all 0.3s ease;

    color: white;
    line-height: 1.7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding-top: 70px; /* give space for navbar fixed */
    background-image: url("bg-planet.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.topic-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}


/* color for each subject */
.topic-title.science {
    text-shadow: 0 0 10px #20790e;
    color: #fff;  
}

.topic-title.math {
    text-shadow: 0 0 10px #fff176;
    color: white;
}

.topic-title.english {
    text-shadow: 0 0 10px #ff8fa3;
    color: #fff; 
}

.example-label {
    color: #ffcc00;         
    font-weight: bold;
}

.example-value {
    color: #00eaff;          
    background: rgba(0, 234, 255, 0.15);
    padding: 4px 8px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 234, 255, 0.6);
}

.video-card a{
    text-decoration: none;
    display: inline-block;
    padding: 20px 40px;
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    background: linear-gradient(45deg, #4facfe, #8f5bff);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0);
    transition: 0.3s;
}

.video-card a:hover{
    box-shadow: 0 0 40px #3b82f6;
}


.subject-btn {
    display: inline-block;
    margin-top: 30px;
    padding: 14px 30px;
    background: rgb(132, 36, 36);
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-center {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.subject-btn:hover {
    background: #c62323;
    transform: scale(1.05);
}


.subject-section {
    min-height: 100vh;
    padding: 50px 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: visible;
    z-index: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.intro-text {
    text-align: center;
    max-width: 700px;
    margin: 10px auto 40px;
    font-size: 18px;
}

/* Section English */

#english h1 {
    font-size:2.5rem;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    text-shadow: 0 0 20px #362b88, 0 0 30px #362b88;
}

#english .intro-text {
    color: #fcfcfc;
}

/* Science Section */
#science h1 {
    font-size:2.5rem;
    color: #fff;
    text-align: center; 
    margin-top: 50px;
    text-shadow: 0 0 20px #362b88, 0 0 30px #362b88;
}

#science .intro-text {
    color: #f7f1f3;
}

#math h1 {
    font-size:2.5rem;
    color: #fff;
    text-align: center; 
    margin-top: 50px;
    text-shadow: 0 0 20px #362b88, 0 0 30px #362b88;
}

#math .intro-text {
    color: #f0f8f8;
}


/* Video Grid */
.video-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.video-card {
    background: rgba(225, 225, 225, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 30px;
    border: 3px solid rgba(225, 225, 225, 0.3);
    border-radius: 30px;
    width: 300px;
    text-align: center;
    box-shadow: 
        0 0 20px rgba(255, 255, 255, 0.25),
        0 0 40px rgba(100, 200, 255, 0.25);

    transition: all 0.3s ease;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: float 4s ease-in-out infinite;
}

.video-card h3 {
    color: #f9f9fc;
    margin-bottom: 15px;
}

.video-card iframe {
    width: 100%;
    height: 170px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.video-card p {
    font-size: 15px;
    color: #fcfafa;   
    margin-top: 15px;
}

/* Hover Effect */
.video-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}

/* Responsive */
@media (max-width: 1000px) {
  .video-card {
     max-width: 45%;
  }
}

@media (max-width: 650px) {
  .video-card {
     max-width: 90%;
  }
}

/*footer*/

.footer-16371 {
    padding: 7rem 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgba(0, 0, 0, 0.2); /* glass gelap sikit */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.footer-16371 .footer-site-logo {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    color: #f0f8f8;
}

.footer-16371 .footer-site-logo a {
    color: #4200ff;
}

.footer-16371 .nav-links {
    padding: 0;
    margin: 0;
}

.footer-16371 .nav-links li {
    display: inline-block;
}

.footer-16371 .nav-links li a {
    padding: 10px;
    color: white;
    padding-top: 10px;
    text-decoration: none;
}

.footer-16371 .nav-links li a:hover {
    text-shadow: 0 0 30px #fdfdfd;
}

.footer-16371 .social h3 {
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
}

.footer-16371 .social ul li {
    display: inline-block;
}
.footer-16371 .social ul {
    display: flex;
    justify-content: center;  /* horizontal center */
    padding: 0;
    margin: 0;
}


.footer-16371 .social ul li a {
    display: inline-block;
    padding: 10px;
    
}

.footer-16371 .social ul li.in a {
    color: #df588a;
}

.footer-16371 .social ul li.tw a {
    color: #ffffff;
}

.footer-16371 .social ul li.fb a {
    color: #3742d0;
}

.footer-16371 .social ul li.dr a {
    color: #fa38c1;
}

.footer-16371 .social ul li.pin a {
    color: #dd4d5a;
}

.footer-16371 .copyright {
    color: #999999;
}