body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('worksheetBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    opacity: 1;
    z-index: -1;
    pointer-events: none;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;

}


.logo {
    float: left;
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 20px #A52A2A, 0 0 30px #A52A2A;
    padding: 14px 16px;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 0 20px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.dropdown {
    float: left;
    position: relative;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(132, 36, 36);
    border-radius: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;

    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    border-radius: 15px;
    backdrop-filter: blur(10px);

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.25);

    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
}


.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    top: 100%;

}

.dropdown-content a:hover {
    background-color: #c62323;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar a:hover {
    color: #ffffff;
    text-shadow: 0 0 10px #ffffff;
}



h1 {
    font-size: 3.5rem;
    margin-top: 50px;
    color: #fff;
    text-shadow: 0 0 20px #A52A2A, 0 0 30px #A52A2A;
    text-align: center;
}

h1::before {
    content: "";
    position: absolute;
    inset: -5px;
    /* background: black; */
    border-radius: 5px;
    opacity: 0.3;
    z-index: -1;
}


#workExp {
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid #a52a2a;
    border-radius: 20px;
    margin: 30px auto;
    padding: 40px;
    max-width: 800px;
    line-height: 1.8;
    text-align: left;
    box-shadow: 0 0 20px rgba(165, 42, 42, 0.3);
    text-align: center;
    color: white;
    font-size: 1.5rem;
}


/* Container for the 3 Cards */
#worksheetContainer {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    /* Makes it look good on mobile */
    margin-top: 40px;
}


#mathsWork,
#scienceWork,
#englishWork {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 25px;
    width: 280px;
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    border: 4px solid;
    color: white;
}



/* Hover effect to make it interactive */
#mathsWork:hover,
#scienceWork:hover,
#englishWork:hover {
    transform: translateY(-10px);
}


#mathsWork {
    border-color: #000000;
}

/* Blue */
#scienceWork {
    border-color: #000000;
}

/* Green */
#englishWork {
    border-color: #000000;
}



/* Styling the Titles inside cards */
#worksheetContainer p:first-child {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

/*download buttons*/
#worksheetContainer a {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 20px;
    background: linear-gradient(45deg, #881725, #b7620e);
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;

}
#worksheetContainer a:hover {
    box-shadow: 0 0 40px #ff003c;
}

a:active {
    box-shadow: none;
    transform: translateY(4px);
}



/*footer*/

.footer-16371 {
    padding: 7rem 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.footer-16371 .footer-site-logo {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
}

.footer-16371 .footer-site-logo a {
    color: #4200ff;
}

.footer-16371 .nav-links {
    padding: 0;
    margin: 0;
}

.footer-16371 .nav-links li {
    display: inline-block;
}

.footer-16371 .social ul {
    display: flex;
    justify-content: center;  /* horizontal center */
    padding: 0;
    margin: 0;
}


.footer-16371 .nav-links li a {
    padding: 10px;
    color: white;
    padding-top: 10px;
    text-decoration: none;
}

.footer-16371 .nav-links li a:hover {
    text-shadow: 0 0 30px #ff003c;
}

.footer-16371 .social h3 {
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
}

.footer-16371 .social ul li {
    display: inline-block;
}

.footer-16371 .social ul li a {
    display: inline-block;
    padding: 10px;
}

.footer-16371 .social ul li.in a {
    color: #df588a;
}

.footer-16371 .social ul li.tw a {
    color: #ffffff;
}

.footer-16371 .social ul li.fb a {
    color: #3742d0;
}

.footer-16371 .social ul li.dr a {
    color: #fa38c1;
}

.footer-16371 .social ul li.pin a {
    color: #dd4d5a;
}

.footer-16371 .copyright {
    color: #999999;
}